	<div class='menu-lateral branco sombra-2'>
		<div class="w220px h115px center pt2 pl6 pr6 reduz mb3">
			<a class='navbar-brand m0 p0' href='/#'><img class='logotipo' src='{{metadata.layout.logo}}'></a>
		</div>	
		<ul class='nav navbar-nav collapse navbar-collapse vertical-menu' id='myNavbar'>
			<p class='noselect pl12px branco txt-cinza-5 m0 pt2 pb2'>RELATÓRIOS</p>
			<li><a href="/am" ><span class='fa fa-dashboard w23px'></span> Geral</a></li>
			<li><a href="/am/patients" ><span class='fa fa-users w23px'></span> Pacientes</a></li>
			<li><a href="/am/clinical" ><span class='fa fa-pencil-square-o w23px'></span> Quadro Clínico</a></li>
			<li><a href="/am/age" ><span class='fa fa-calendar w23px'></span> Faixa Etária</a></li>
			<li><a href="/am/location" ><span class='fa fa-map-marker w23px'></span> Geolocalização</a></li>
			<li><a href="/am/attendances" ><span class='fa fa-line-chart w23px'></span> Total de Atendimentos</a></li>
			<li><a href="/am/doctors" ><span class='fa fa-user-md w23px'></span> Total de Médicos</a></li>
			<p>&nbsp;</p>
			<p class='noselect pl12px branco txt-cinza-5 m0 pt2 pb2'>GERENCIAMENTO</p>
			<li><a href="/am/users" ><span class='fa fa-user w23px'></span> Usuários</a></li>
		</ul>	
	</div>