<div class='menu-lateral branco sombra-2'>
	<div class="w220px h115px center pt2 pl6 pr6 reduz mb3">
		<a class='navbar-brand m0 p0' href='/#'><img class='logotipo' src='{{metadata.layout.logo}}'></a>
	</div>
	<div class='col-sm-12 p5 bold txt-cinza-6 cinza-1 center border-t border-b'>SALA DE SERVICIO</div>
	<div class='col-sm-12 pt2 mt5'>
		<div class='noselect pl10px azul-6 pt2 pb2 txt-branco cantos-t-5'>PACIENTES</div>
		<div id="listPatients" class='col-sm-12 noselect border-1 cantos-b-5 pt3'></div>
	</div>
	<div class='col-sm-12 mt5 noselect'>
		<div class='pl10px verde-6 m0 pt2 pb2 txt-branco cantos-t-5'>MÉDICO ASISTENTE</div>
		<div class='col-sm-12 border-1 cantos-b-5'>
			<div class='h3px'>&nbsp;</div>
			<div class='col-sm-12 center'><img src="{{metadata.user.avatar}}" alt="user-image" class="img-circle img-inline h100px"></div>
			<div class='col-sm-12 center pt2'>{{metadata.user.name}}</div>
			<div class='h3px'>&nbsp;</div>
			<div class='center'>
				<button type="button" class="btn btn-default btn-sm">Mi cuenta</button>
				<button type="button" class="btn btn-danger btn-sm">Salir</button>
			</div>
			<div class='h3px'>&nbsp;</div>
		</div>
	</div>		
</div>
</div>
