<!doctype html>
<html>
  <head>
    <title>Controle</title>
    <style>
button {
  		margin: 10px;
		  padding: 10px;
	}
	</style>
  </head>
  <body>
	  <center>
		  <h1>Controle</h1>
    <form action="">
		<button type="button" onclick="send('f')" >F</button><br>
      <button type="button" onclick="send('l')" >E</button>
	  <button type="button" onclick="send('r')" >D</button><br>
	  <button type="button" onclick="send('b')" >T</button><br>
	  <button type="button" onclick="send('s')" >Parar</button>
    </form>
	</center>
  </body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    <script>
      var socket = io();
    function send(v){
		socket.emit('send',v);
    }
	 socket.on("feedback",(data) =>{
		console.log("Responded data ->",data)      
    })
    </script>
</html>