<!doctype html>
<html>
  <head>
    <title>Controle</title>
    
  </head>
  <body>
    <form action="">
      <button type="button" value="E" onclick="send('l')" ></button>
	  <button type="button" value="D" onclick="send('r')" ></button><br>
	  <button type="button" value="F" onclick="send('f')" ></button>
	  <button type="button" value="T" onclick="send('b')" ></button><br>
	  <button type="button" value="P" onclick="send('s')" ></button>
    </form>
  </body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    <script>
      var socket = io();
    function send(v){
		socket.emit('send',v);
    }
	 socket.on("feedback",(data) =>{
		console.log("Responded data ->",data)      
    })
    </script>
</html>