<!doctype html>
<html>
  <head>
    <title>Cntrole</title>
    
  </head>
  <body>
    <form action="">
      <button value="E" onclick="send('l')"></button>
	  <button value="D" onclick="send('r')"></button>
	  <button value="F" onclick="send('f')"></button>
	  <button value="T" onclick="send('b')"></button>
	  <button value="P" onclick="send('s')"></button>
    </form>
  </body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    <script>
      var socket = io();
    function send(v){
		socket.emit('send',v);
    }


    $(function () {
        
        $('form').submit(function(e){
            e.preventDefault(); // prevents page reloading
            socket.emit('send', $('#m').val());
            $('#m').val('');
            return false;
        });

    });
    </script>
</html>