<!doctype html>
<html>
  <head>
    <title>Cntrole</title>
    
  </head>
  <body>
    <form action="">
      <imput type="button" value="E" onclick="send('l')"/>
	  <imput type="button" value="D" onclick="send('r')"/>
	  <imput type="button" value="F" onclick="send('f')"/>
	  <imput type="button" value="T" onclick="send('b')"/>
	  <imput type="button" value="P" onclick="send('s')"/>
    </form>
  </body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    <script>
      var socket = io();
    function send(v){
		socket.emit('send',v);
    }
    </script>
</html>